<p id="notice"><%= notice %></p>

<h1>Listing Scans</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @scans.each do |scan| %>
      <tr>
        <td><%= scan.id %></td>
        <td><%= link_to 'Show', scan %></td>
        <td><%= link_to 'Edit', edit_scan_path(scan) %></td>
        <td><%= link_to 'Destroy', scan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scan', new_scan_path %>
