<% provide(:title, "Home") %>

<% if flash[:alert] %>
<div class="alert alert-success"><%= flash[:alert] %></div>
<% end %>

<h1>This is the Welcome Page</h1>

<%= link_to "Users", users_path %>
<%= link_to "Groups", groups_path %>
<%= link_to "Tags", tags_path %>
<%= link_to "Scans", scans_path %>
<%= link_to "Clients", clients_path %>