<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to "NFChief", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
				<% if current_user %>
				<li><%= link_to "Log Out", logout_path, method: "delete" %></li>
				<% else %>
				<li><%= link_to "Login", login_path %></li>
				<% end %>
			</ul>
		</nav>

	</div>
</header>