<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> – NFChief</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="site-wrapper">
		<div class="site-wrapper-inner">

			<%= render 'layouts/navigation' %>

			<%= yield %>

		</div><!-- site-wrapper-inner -->
	</div><!-- site-wrapper -->

</body>
</html>
