<!DOCTYPE html>
<html>
<head>
  <title>Nfchief</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header">
		<div class="container">
			<%= link_to root_path do %>
				<img height=50 width=40 src="https://cdnd.icons8.com/wp-content/uploads/2015/06/NFC-Logo-1.png">
			<% end %>

			<div class="nav pull-right">
				<% if current_user %> 
				<ul> 
					<li>Hi, <%= current_user.name %></li> 
					<li><%= link_to "Log out", logout_path, method: "delete" %></li> 
				</ul> 
				<% else %> 
				<ul> 
					<li><%= link_to "Login", 'login' %></a></li> 
					<li><%= link_to "Sign Up", 'signup' %></a></li> 
				</ul> 
				<% end %>

			</div>
		</div>
	</div>


<%= yield %>

</body>
</html>




